<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contact page</title>
</head>
<body>

<h1>Contact Us</h1>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, atque dolore doloribus eius inventore itaque iusto sit sunt. Eius ex fugiat impedit inventore magnam nisi quae reiciendis veniam. Amet, dignissimos.</span><span>Alias aliquam delectus, ducimus eaque esse id incidunt inventore laborum minus necessitatibus numquam porro praesentium qui, sequi temporibus velit veritatis. Aspernatur corporis cupiditate facere incidunt nulla optio placeat ut vero.</span></p>

</body>
</html>