<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>

    <style>

        h1{
            text-align: center;
            color: #006b1b;
            font-size: 40px;
            background-color: #81d4fa;
            line-height: 80px;
            font-weight: bold;
        }

        p{
            margin-left: 30px;
        }

    </style>
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">


</head>
<body>
<h1>Welcome to snapBasket</h1>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet architecto dignissimos eum hic minus praesentium. A ad consectetur, ex fugit impedit in inventore nostrum praesentium repellendus sapiente sunt tempora voluptatem?</span><span>A aliquid corporis doloremque incidunt labore necessitatibus, nemo voluptas! Autem dolore eos est maxime nemo quod soluta unde velit voluptatibus? Consequatur expedita fuga magnam maiores nam quia tenetur veniam voluptatem!</span><span>A beatae, commodi eius est facilis hic inventore ipsam iste magni mollitia nisi, pariatur possimus quibusdam repudiandae sapiente suscipit voluptas, voluptate. Alias aliquam cum doloremque, impedit nesciunt obcaecati quae soluta!</span></p>

<img src="{% static 'images/aero.jpg' %}" alt="">
<img src="{% static 'images/aero1.jpg' %}" alt="">
<img src="{% static 'images/aero2.jpg' %}" alt="">
<img src="{% static 'images/aero3.jpg' %}" alt="">
<img src="{% static 'images/aero4.jpg' %}" alt="">
<img src="{% static 'images/aero5.jpg' %}" alt="">
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda aut debitis dolorum eveniet itaque sit! Corporis deserunt quis sequi? Accusantium aperiam atque debitis error, laboriosam nemo quisquam quod veniam veritatis.</span><span>Error eveniet officiis perspiciatis ratione repudiandae tempore totam voluptas voluptatibus. Autem beatae commodi consectetur dolor fugit in libero maxime minima quidem quo saepe, sint ut. Id, provident, quas? Ea, earum!</span></p>

</body>
</html>