<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Homepage</title>
</head>
<body>
<h1>Welcome to Jumia Web Application</h1>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet consequuntur cum dicta doloremque ea est fugiat illum inventore labore laboriosam laborum nobis odio, quaerat, ratione repellat reprehenderit, sunt tempora veritatis?</span><span>Cumque illum repellat repellendus sint velit voluptatem voluptatum? Ab, alias delectus facere ipsum iusto officia omnis praesentium quam quo recusandae sapiente tenetur, veniam veritatis. Doloribus eos illo ipsum placeat rerum.</span><span>Aspernatur doloribus expedita modi natus perferendis ratione saepe sequi similique voluptatem, voluptatibus. At autem consectetur enim eos laboriosam, quisquam rem sapiente veritatis voluptatem voluptatibus! Aspernatur autem est impedit sit soluta.</span></p>

</body>
</html>